.error-message {
  color: white;
  background-color: #ff5f5f;
  padding: 0.6em;
  border-radius: 0.4em;
  margin-bottom: 1em;
  font-size: 0.8em;
}

.error-message .dismiss-button:after {
  font-size: 1.5em;
  line-height: 0.6;
  float: right;
  content: "\00d7";
  cursor: pointer;
}