.container {
  width: 1200px;
  margin: 0 auto;
}

.header, .main {
  font-size: 1.5em;
  padding: 0 5em;
}

.header {
  color: black;
  min-height: 3em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  box-shadow: 0 0.1em 0.2em #dcdcdc;
}

.main {
  padding-top: 1em;
  padding-bottom: 1em;
}
